<p id="notice"><%= notice %></p>
<%= link_to "Refresh", driver_path(@driver)%>
<table>
<tr>
	<th>Waiting</th>
	<th>Ongoing</th>
	<th>Complete</th>
	</tr>
	<tr>
		<td>
		 <% @waiting.each do |wait|%>
			<div> 
				<label>Req id: <%= wait.id %> </label> 
				<label>Cust id: <%= wait.user_id %></label>
				<label><%= distance_of_time_in_words(wait.created_at, DateTime.now)%></label>
				<%= link_to "Select", edit_request_path(wait.id, driver_id: @driver.id) %>
			</div>
		 <% end %>
		</td>
		<td>
			
		</td>
		<td></td>
	</tr>
</table>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
