<p id="notice"><%= notice %></p>
<%= link_to "Refresh", driver_path(@driver)%>
<table width="50%">
<tr>
	<th>Waiting</th>
	<th>Ongoing</th>
	<th>Complete</th>
	</tr>
	<tr>
		<td width="33.33%">
		 <% @waiting.each do |wait|%>
			<div> 
				<label>Req id: <%= wait.id %> </label> 
				<label>Cust id: <%= wait.user_id %></label>
				<label><%= distance_of_time_in_words(wait.created_at, DateTime.now)%></label>
				<%= link_to "Select", accept_request_path(request_id: wait.id, driver_id: @driver.id) %>
			</div>
		 <% end %>
		</td>
		<td width="33.33%">
			<% @ongoing.each do |wait|%>
			<div> 
				<label>Req id: <%= wait.id %> </label> 
				<label>Cust id: <%= wait.user_id %></label>
				<label>Request: <%= distance_of_time_in_words(wait.created_at, DateTime.now)%> ago</label>
				<label>Picked Up: <%= distance_of_time_in_words(wait.created_at, DateTime.now)%>ago</label>
			</div>
		 <% end %>
		</td>
		<td width="33.33%">
			<% @complete.each do |wait|%>
			<div> 
				<label>Req id: <%= wait.id %> </label> 
				<label>Cust id: <%= wait.user_id %></label>
				<label>Request: <%= distance_of_time_in_words(wait.created_at, DateTime.now)%> ago</label>
				<label>Picked Up: <%= distance_of_time_in_words(wait.start_at, DateTime.now)%> ago</label>
				<label>Completed: <%= distance_of_time_in_words(wait.end_at, DateTime.now)%>ago</label>
			</div>
		 <% end %>
		</td>
	</tr>
</table>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
